<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agendamento Barbearia</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Agende seu Horário</h1>
        <form method="POST" action="/home">
            <label for="date">Data:</label>
            <input type="date" id="date" name="date" required><br><br>
            
            <label for="period">Período:</label>
            <select id="period" name="period">
                <option value="Manhã">Manhã</option>
                <option value="Tarde">Tarde</option>
                <option value="Noite">Noite</option>
            </select><br><br>
            
            <label for="time">Horário:</label>
            <select id="time" name="time"></select><br><br>

            <label>Serviços:</label><br>
            <div class="service">
                <input type="checkbox" name="service" value="eyebrows" data-price="10"> Sobrancelha R$ 10,00<br>
            </div>
            <div class="service">
                <input type="checkbox" name="service" value="beard" data-price="25"> Barba R$ 25,00<br>
            </div>
            <div class="service">
                <input type="checkbox" name="service" value="haircut" data-price="30"> Corte R$ 30,00<br>
            </div>
            <div class="service">
                <input type="checkbox" name="service" value="cut_eyebrows" data-price="35"> Corte + Sobrancelha R$ 35,00<br>
            </div>
            <div class="service">
                <input type="checkbox" name="service" value="cut_beard" data-price="50"> Corte + Barba R$ 50,00<br>
            </div>
            <p>Total: R$ <span id="total">0</span></p>
            <button type="submit">Agendar</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
