/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.cabecalho {
    background-color: #007BFF; /* Cor de fundo azul */
    color: white; /* Cor do texto branco */
    padding: 20px; /* Espaçamento interno para o cabeçalho */
    text-align: center; /* Centraliza o texto */
    width: 100%;
    border-radius: 8px;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background-color: rgb(255, 157, 0);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(228, 143, 6);
}

a {
    color: #5c67f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color: red;
    margin-top: 5px;
}

.janela-agendamentos {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-height: 500px;
    overflow-y: auto;
}

.agendamento {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
